[*.cs]

# IDE0022: Blocktextkörper für Methoden verwenden
csharp_style_expression_bodied_methods = true:none

# IDE0040: Zugriffsmodifizierer hinzufügen
dotnet_style_require_accessibility_modifiers = never:none

# IDE0008: Expliziten Typ verwenden
csharp_style_var_elsewhere = true:none

# IDE0008: Expliziten Typ verwenden
csharp_style_var_when_type_is_apparent = true:none

# IDE0008: Expliziten Typ verwenden
csharp_style_var_for_built_in_types = true:none

# IDE0058: Der Ausdruckswert wird niemals verwendet.
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# IDE0055: Formatierung beheben
dotnet_diagnostic.IDE0055.severity = none

# CA1310: "StringComparison" für Richtigkeit angeben
dotnet_diagnostic.CA1310.severity = none
